/* Css used across all pages */

* {
  margin: 0;
  color: white;
  font-family: "sofia-pro", sans-serif !important;
}

#root,
body,
html,
bg {
  height: 100%;
}

body {
  font-size: 1.25rem;
  line-height: 1.5;
  height: 100vh;
}

h1 {
  font-weight: 900;
  font-style: normal;
  font-size: 2.5rem;
  line-height: 1.2;
  width: auto;
}

.magenta {
  color: rgb(226, 6, 111) !important;
}

.blue {
  color: rgb(13, 0, 76) !important;
}

/* Responsive header text */

@media (min-width: 920px) {
  h1 {
    font-size: 3.25rem;
  }
}

#doorbell-form {
  border-radius: 0 !important;
  background-color: rgb(13, 0, 76) !important;
  border: none !important;
}

#doorbell-form * {
  color: #fff !important;
}

#doorbell-form button {
  background-color: rgb(226, 6, 111) !important;
  border: none;
}
#doorbell-form button:hover {
  background-color: rgb(226, 6, 111) !important;
}

#doorbell-form textarea,
#doorbell-form input {
  color: rgb(13, 0, 76) !important;
}

#doorbell-button {
  right: calc(0% - 2.1rem);
  bottom: 8%;
  rotate: -90deg;
  background-color: rgb(13, 0, 76);
  border-radius: 0;
}
